@model Widly.Models.Movie
@{
    ViewBag.Title = "Movie Details";
}

<h2>@Model.Name</h2>

<ul>
    <li><span>Genre: </span>@Model.Genre.Name</li>
    <li><span>Release Date: </span>@Model.ReleaseDate.ToString("MMMM dd, yyyy")</li>
    <li><span>Date Added: </span>@Model.DateAdded.ToString("MMMM dd, yyyy")</li>
    <li><span>Number in Stock: </span>@Model.NumberInStock</li>
</ul>

